@{
  Layout = "_Layout";
}

@using VendorOrderTracker.Models;

<h3>@Model["Vendor"].Name</h3>
<h4>@Model["Vendor"].Description</h4>

<ol>
@foreach (Order order in @Model["Orders"])
{
  <li><a href='/vendors/@Model["Vendor"].Id/orders/@order.Title'>@order.Description</a></li>
}
</ol>

<a href='/vendors/@Model["Vendor"].Id/orders/new'>Add A New Order</a><br>
<a href='/vendors'>Return To Vendor List</a>
<form action='/vendors/delete' method="post">
  <input id="vendor" name="vendor" type="hidden" value='@Model["Vendor"]'>
  <button type="submit">Delete Vendor</button>
</form>