@{
  Layout = "_Layout";
}

@using VendorOrderTracker.Models;

<h1>@Model["Vendor"].Name</h1>
<h2>Description: @Model["Vendor"].Description</h2>

<h2 id="orders">Orders:</h2>
@if (Model["Orders"].Count == 0)
{
  <h3>There are no orders to display.</h3>
} 

@if (Model["Orders"].Count >= 1)
{
  @foreach (Order order in @Model["Orders"])
  {
    <a href='/vendors/@Model["Vendor"].Id/orders/@order.Id'>@order.Title</a><br>
  }
}

<form action='/vendors/delete' method="post">
  <input id="id" name="id" type="hidden" value='@Model["Vendor"].Id'>
  <button type="submit">Delete Vendor</button>
</form>
<a href='/vendors/@Model["Vendor"].Id/orders/new'>Add An Order</a><br>
<a href='/vendors'>Return To Vendor List</a>